$main-color: #009471
$second-color: #ee7358
$white-color: #ffffff
$yellow-color: #FFC626

//border radius
$br-main: 50px
$br-sm: 30px
$br-xs: 20px

//border size
$b-main: 8px
$b-sm: 4px

// screen ratio
$sr-width: 160
$sr-height: 90

//font size
$font-size-lg: 32px
$font-size-md: 24px
$font-size-sm: 18px

//font weight
$font-bold-lg: 600
$font-bold-md: 500
$font-bold-sm: 400
