.flexbox 
    display: flex
    justify-content: center
    width: 70vw
    height: 70vh
    margin: 0 auto
    overflow: hidden
    align-items: center

.flexbox .board 
    display: flex
    height: 50vh
    justify-content: center;
    flex-direction: column;
    width: 100%
    max-width: 300px
    padding: 5px

.flexbox .board .card
    cursor: pointer
    padding: 5px

.cards
    display: flex

.fullbag
    display: none

.false

    -webkit-filter: grayscale(100%)
    -moz-filter: grayscale(100%)
    -o-filter: grayscale(100%)
    -ms-filter: grayscale(100%)
        filter: grayscale(100%)

.containerfinished
    display: none
    width: 100%
    height: 100%
    display: flex
    justify-content: center

#finished
    position: absolute
    z-index: 1
    display: none

#board-1
    margin: 40px

.title 
    display: block
    justify-content: center
    text-align: center

.bagGame
    margin: 0 auto;
    height: 100%
    width: 100%

.board
    height: 50%
    width: auto
    .bag
        svg
    .card
        svg
            width: 100%
            height: auto        
#bagsvg
    height: 50vh