.game__container
    padding: 10px
    display: flex
    justify-content: space-between
    .game__body--body
        max-width: 40%
        max-height: 90%
        display: flex
        justify-content: center
        align-items: center
        .whole__body
            width: 50%
            height: auto
        .organs
            cursor: pointer
        .organs__disable
            display: none
.bag
    padding-left: 300px

.row
    margin:auto
#dog:hover,#skateboard:hover,#towel:hover,#tv:hover,#sweatshirt:hover,#brush:hover,#socks:hover,#book:hover,#phone:hover
    filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px -1px 0px #111);
