.game__container
    padding: 10px
    display: flex
    justify-content: space-between
    .game__body--body
        max-width: 40%
        max-height: 90%
        display: flex
        justify-content: center
        align-items: center
        .whole__body
            width: 50%
            height: auto
        .organs
            cursor: pointer
        .organs__disable
            display: none

    .game__body--labels
        max-width: 40%
        max-height: 90%
        display: flex
        justify-content: center
        align-items: center
        .whole__body--labels
            width: 80%
            height: auto
        .organs__labels
            cursor: pointer
        .organs__labels--disable
            display: none