.game__container
    padding: 10px
    display: flex
    justify-content: space-between
    .game__body--body
        max-width: 50%
        max-height: 96%
        width: 50%
        display: flex
        justify-content: center
        align-items: center
        .whole__body
            width: 60%
            height: auto
        .organs
            cursor: pointer
        .organs__disable
            display: none

    .game__body--labels
        max-width: 30%
        max-height: 90%
        display: flex
        justify-content: center
        align-items: center
        .whole__body--labels
            width: 80%
            height: auto
        .organs__labels
            cursor: pointer
        .organs__labels--disable
            display: none
    .body__info
        width: 20%
        align-self: flex-end
        img
            max-width: 100%
            height: auto
            display: block
.organs:hover
    path
        stroke-width: 2px
        stroke: white

.organs__labels:hover
    rect
        stroke-width: 4px
        stroke: white

.organs:active
    path
        stroke-width: 2px
        stroke: white

.disable
    display: none

.disable__label
    opacity: 0.2

.white__stroke
    rect
        stroke-width: 4px
        stroke: white

.white__stroke
    path
        stroke-width: 4px
        stroke: white



