.films__content
    z-index: 9998
    margin: 0px auto
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 90%
    height: 100vh
    padding: 10% 0
    .content__film
        z-index: 9998
        position: relative
        overflow: hidden
        margin: 6px
        width: $sr-width * 0.8px
        height:  $sr-height * 0.8px
        background-color: white
        border-radius: $br-xs
        border: 4px solid $second-color
    .content__film--overlay
        position: absolute
        top: 0
        left: 0
        width: 105%
        height:  105%
        background-color: rgba(1,1,1,0.2)


.content__film:hover
    transform: scale(1.08)

/* For mobile landscape */
@media only screen and (min-width: 600px) 
    .films__content
        width: 80%
        height: 100vh
        padding: 8% 0
        .content__film
            margin: 6px
            width: $sr-width * 1px
            height:  $sr-height * 1px
            border: 4px solid $second-color
        .content__film--overlay
            width: 105%
            height:  105%


/* For tablet landscape */
@media only screen and (min-width: 768px) 
    
    .films__content
        width: 80%
        height: 100vh
        padding: 8% 0
        .content__film
            margin: 6px
            width: $sr-width * 1.2px
            height:  $sr-height * 1.2px
            border: 4px solid $second-color
        .content__film--overlay
            width: 105%
            height:  105%

/* For tablet portrair */
@media only screen and (min-width: 768px) and (orientation: portrait)
    
    .films__content
        width: 80%
        height: 100vh
        padding: 8% 0
        .content__film
            margin: 6px
            width: $sr-width * 1.8px
            height:  $sr-height * 1.8px
            border: 6px solid $second-color
        .content__film--overlay
            width: 105%
            height:  105%


/* For desktop or big tablet */
@media only screen and (min-width: 1024px) 
    
    .films__content
        width: 80%
        height: 100vh
        padding: 14% 0
        .content__film
            margin: 10px
            width: $sr-width * 2.1px
            height:  $sr-height * 2.1px
            border: 6px solid $second-color
        .content__film--overlay
            width: 105%
            height:  105%

/* For desktop or big tablet */
@media only screen and (min-width: 1920px) 
    /* For desktop or big tablet */
    .films__content
        width: 80%
        height: 100vh
        padding: 10% 0
        .content__film
            margin: 10px
            width: $sr-width * 2.8px
            height:  $sr-height * 2.8px
            border: 6px solid $second-color
        .content__film--overlay
            width: 105%
            height:  105%