.content
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    .content__image
        overflow: hidden
        width: 800px
        height: 450px
        background-color: white
        border-radius: $br-main
        border: 6px solid $second-color